.ipynb_checkpoints/*
Assignment5.ipynb
Assignment5.py
Assignment5_Lorenz.py
Ass5_Lorenz.ipynb
/notebooks/.ipynb_checkpoints/
/Psychophysics2.egg-info/dependency_links.txt
/Psychophysics2.egg-info/PKG-INFO
/Psychophysics2.egg-info/SOURCES.txt
/Psychophysics2.egg-info/top_level.txt
*.pdf
Test.ipynb
